.story-list-item {
  width: 680px;
  height: 245px;
  display: flex;
  border-bottom: 1px solid lightgray;
  color: lightgray;
}

.story-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.story-list {
  padding-left: 40px;
}

.story-list > h1 {
  border-bottom: 1px solid lightgray;
  padding-bottom: 40px;
  padding-top: 40px;
  font-size: 22px;
  font-weight: 600;
}

.story-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.story-text {
  width: 508px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-title {
  font-family: "Helvetica Neue", sans-serif;
  padding-bottom: 10px;
  font-weight: 700;
  padding-top: 50px;
  font-size: 22px;
}

.story-body {
  padding-top: 10px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
  color: lightslategrey;
  line-height: 1.5;
}

.story-image-container {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story-bottom-container {
  height: 40px;
}
