.story-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.title-container {
  padding-left: 50px;
}

.title-container .title-input {
  width: 100%;
  height: 60px;
  font-size: 42px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.body-container {
  padding-left: 50px;
}

.body-input {
  resize: none;
  width: 100%;
  height: 300px;

  font-size: 21px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.publish-button {
  position: absolute;
  top: 16px;
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  outline: none;
}

::placeholder {
  color: lightgray;
}
