.story-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  position: relative;
}

.title-container {
  padding-left: 50px;
}

.title-container .title-input {
  width: 100%;
  height: 60px;
  font-size: 42px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.body-container {
  padding-left: 50px;
}

.body-input {
  resize: none;
  width: 100%;
  height: 300px;

  font-size: 21px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

.publish-button {
  position: absolute;
  top: 16px;
  right: 50px;
  background-color: green;
  color: white;
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  outline: none;
}

::placeholder {
  color: lightgray;
}

.photo-container {
  display: none;
  margin-top: 20px;
  margin-left: 50px;
}

.photo-container h3 {
  margin-bottom: 5px;
}

.photo-container img {
  max-width: 200px;
  max-height: 200px;
}

.photo-container.show {
  display: flex;
  flex-direction: column;
}

.upload-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-icon:hover {
  border-color: #999;
}

.upload-icon i {
  font-size: 24px;
}
