.trending-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 60px 40px 30px 180px;
}

.trending-container .top {
  display: flex;
  align-items: center;
}

.top h1 {
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-right: 10px;
  line-height: S 20px;
  width: 400px;
}

.obey-me {
  margin-top: -20px;
}

.trendingItem {
  width: 400px;
}

.trending-container a {
  color: black;
  width: 400px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ol li {
  display: flex;
  align-items: center;
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
}

.numbers {
  font-size: 30px;
  color: lightgray;
  margin-right: 10px;
  padding-top: 0;
  align-self: flex-start;
}

.byLine {
  display: flex;
  align-items: center;
}

.byLine > .avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.byLine > .username {
  font-size: 13px;
  font-weight: 700;
}

@media (max-width: 991px) {
  ol li {
    width: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  ol li {
    width: 100%;
  }
}
