.comments-section {
  position: fixed;
  top: 0;
  right: -650px;
  width: 650px;
  height: 100%;
  transition: right 0.5s ease-in-out;
  background-color: rgb(246, 246, 246);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.comments-section.show {
  right: 0;
}

.comments-toggle {
  position: absolute;
  top: 0;
  right: -50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: right 0.5s ease-in-out;
}

.comments-toggle:hover {
  right: 0;
}

.cancel-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 34px;
  cursor: pointer;
  color: grey;
  font-weight: 500;
}

.retorts-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.cancel-button:hover {
  color: black;
}

.post-comment {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin: 20px 10px;
  border-bottom: 1px solid #ddd;
}

.comments-list {
  margin: 0 10px;
}
