.nav-wrapper {
  background-color: rgb(255, 189, 8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav-logo img {
  width: 150px;
}

.spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.nav-link {
  color: black;
  margin-right: 30px;
  text-decoration: none;
  width: 60px;
  text-align: center;
}

@media (max-width: 767px) {
  .nav-link {
    display: none;
  }
}
