.profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;

  padding-left: 50px;
}

.profile-dropdown-toggle {
  cursor: pointer;
}

.profile-dropdown .user-avatar {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.fa-chevron-down {
  color: rgb(133, 133, 133);
}

.profile-dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  width: 280px;
  height: 600px;
  margin: 0;
  margin-top: 8px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  color: rgb(82, 82, 82);
}

.profile-dropdown-menu > div {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.profile-dropdown:hover .profile-dropdown-menu {
  display: block;
}

.profile-dropdown-menu a {
  display: block;
  padding: 12px;
  text-decoration: none;
  color: #333;
}

.profile-dropdown-menu a:hover {
  color: rgb(82, 82, 82);
}
